.item-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}
.img-name {
  display: flex;
  align-items: center;
  width: 40%;
}
.delete-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.song-img {
  width: 160px;
}
.name {
  margin-left: 10px;
}
button {
  background-color: transparent;
  color: white;
  border: 0px;
}
.genre {
  color: lightskyblue;
}
